.body-box{
  /* background-color: rgb(170, 10, 154); */
  padding: 0;
  margin: auto;
  width: 700px;
  height: 450px;
  box-shadow: 0px 10px 87px -3px rgba(0,0,0,0.1);
}
 .top-b{
  height: 25%;
  background-color:#eceff2;
  border-bottom: 1px solid #7b8484;
} 
.bottom-b{
  height: 75%;
} 

.person-img{
  border: 3px solid #0d0e0f;
  border-radius: 50%;
  position: relative;
  bottom:  105px;
  right: -270px;
  height: 160px;
}
.icons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 42px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.icons-in{
  list-style: none;
  color:#424649;
  margin-top: 50px;
}
.icons-in:hover{
  color: #0fef43d3;
}
.span{
  /* display: block; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -35px;
}
.cnt-txt{
  font-size: 30px;
  color: rgb(37, 36, 36);
}
.span-fi{
  color: #666667;
}

.box{
  margin-top: 150px;
  display: block;
}